<!DOCTYPE html>
<html lang="pt">
<%- include('../partials/head'); %>

<body class="wrapper">
    <%- include('../partials/nav'); %>
    <div class="content-layout">
        <%- include('../partials/header', {"page": "Clientes"}); %>
        <div class="tabs-div">
            <button class="search-button pretty-button tab-button" onclick="toggleSearchModal()"><span>🔍 Buscar cliente</span></button>
            <% if (settings[0].administrador) { %> <button class="add-button pretty-button tab-button" onclick="toggleAddModal()"><span>👤 Adicionar cliente</span></button> <% } %> 
        </div>
        <hr class="tab-leaner" />
        <div class="light-bordered-container" style="overflow-y: auto; height: 50vh;">
            <table class="standard-table">
                <tr>
                    <th width="50">ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th width="25"> </th>
                    <th width="50"> </th>
                </tr>
                <% clients.forEach(client => { %>
                <tr>
                    <td><%= client.id %></td>
                    <td><%= client.nome %></td>
                    <td><%= client.cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4"); %></td>
                    <td><%= client.telefone.replace(/\D/g,"").replace(/^(\d{2})(\d)/g,"($1) $2").replace(/(\d)(\d{4})$/,"$1-$2"); %></td>
                    <td>
                        <div class="table-button-container">
                            <a href="/history?client=<%= client.id %> "><button class="table-button">🕑</button></a>
                    </td>
                    <td>
                        <div class="table-button-container">
                            <button class="table-button button-red"
                                onclick="toggleEditModal('<%= JSON.stringify(client) %>');">✎</button>

                            <button class="table-button button-red"
                                onclick="toggleRemoveModal('<%= client.id %>');">✗</button>

                        </div>
                    </td>
                </tr>
                <% }); %>
            </table>
        </div>
        <%- include('../partials/modal/clients/search'); %>
        <%- include('../partials/modal/clients/remove'); %>
        <%- include('../partials/modal/clients/edit'); %>
        <%- include('../partials/modal/clients/add'); %>
    </div> 
</body>

</html>