<!DOCTYPE html>
<html lang="pt">
<%- include('../partials/head'); %>
<body class="wrapper">
    <%- include('../partials/nav'); %>
    <div class="content-layout">
        <%- include('../partials/header'); %>
        <h1>
            Editar usuário
        </h1>
        <div class="bordered-div">
        <h2>
            Você está editando o usuário de ID [<%= ("000" + user[0].id).substr(user[0].id.length-4) %>]
        </h2>
        <form class="form" action="/edit/user" method="post" enctype="application/json">
            <input type="text" name="id" value="<%= user[0].id %>" hidden>
            <label>Nome de usuário:</label> <br>
            <input type="text" name="nome" value="<%= user[0].nome %>"> <br>
            <label>Senha:</label> <br>
            <input type="password" name="senha" value="<%= user[0].password %>"> <br>
            <label class="checkbox">
                <input type="checkbox" name="administrador" <% if (user[0].administrador == 1) { %> checked <% } %>)>
                <span>Administrador</span>
            </label><br>
            <input class="submit-button" type="submit" value="Salvar alterações">
        </form>
        </div>
    </div>
</body>

</html>