<!DOCTYPE html>
<html lang="pt">
<%- include('../partials/head'); %>

<body class="wrapper">
    <%- include('../partials/nav'); %>
    <div class="content-layout">
        <%- include('../partials/header', {"page": "Produtos"}); %>

        <div class="tabs-div">
            <button class="search-button pretty-button tab-button" onclick="toggleSearchModal()"><span>🔍 Buscar
                    produto</span></button>
            <button class="add-button pretty-button tab-button" onclick="toggleVendaModal()"><span>🏠 Nova
                    venda</span></button>
            <% if (settings[0].administrador) { %> <button class="add-button pretty-button tab-button"
                onclick="toggleAddModal()"><span>🛒 Adicionar
                    produto</span></button> <% } %>

        </div>
        <hr class="tab-leaner" />
        <div class="light-bordered-container" style="overflow-y: auto; height: 50vh;">
            <table class="standard-table">
                <tr>
                    <th width="50">ID</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th width="50">Setor</th>
                    <th width="50">Prateleira</th>
                    <th width="50"> </th>
                </tr>
                <% products.forEach(produto => { %>
                <tr>
                    <td>
                        <input type="checkbox" class="item-checkbox" data-id="<%= produto.id %>">
                        <%= produto.id %>
                    </td>
                    <td><%= produto.descricao %></td>
                    <td><%=  "R$ " + (Math.round(produto.valor * 100) / 100).toFixed(2) %></td>
                    <td><%=  produto.setor %></td>
                    <td><%=  produto.prateleira %> </td>
                    <td>
                        <div class="table-button-container">
                            <button class="table-button button-red"
                                onclick="toggleEditModal('<%= JSON.stringify(produto) %>');">✎</button>

                            <button class="table-button button-red"
                                onclick="toggleRemoveModal('<%= produto.id %>');">✗</button>
                        </div>
                    </td>
                </tr>
                <% }); %>
            </table>
        </div>
        <%- include('../partials/modal/products/remove'); %>
        <%- include('../partials/modal/products/edit'); %>
        <%- include('../partials/modal/products/add'); %>
        <%- include('../partials/modal/products/search'); %>
        <%- include('../partials/modal/products/venda'); %>

        <script>
        var checkboxes = document.getElementsByClassName('item-checkbox');
        var selectedItems = JSON.parse(localStorage.getItem("selectedProduct"));
        if (!selectedItems) selectedItems = [];
            
        for (let checkbox of checkboxes) {
            let id = checkbox.dataset.id;
            if (selectedItems.includes(id)) {
                checkbox.checked = true;
            }

            checkbox.addEventListener('change', (event) => {
                if (selectedItems.includes(id)) {
                    const index = selectedItems.indexOf(id);
                    selectedItems.splice(index, 1); 
                    localStorage.setItem("selectedProduct", JSON.stringify(selectedItems))
                    return;
                }
                selectedItems.push(id);
                localStorage.setItem("selectedProduct", JSON.stringify(selectedItems))
        });
        }
        </script>
    </div>
</body>

</html>