<!DOCTYPE html>
<html lang="pt">
<%- include('../partials/head'); %>

    <body class="wrapper">
        <%- include('../partials/nav'); %>
            <div class="content-layout">
                <%- include('../partials/header', {"page": "Nova venda" }); %>
                    <div style="display:flex; flex-direction: row;">
                        <table class="standard-table" style="width: 30%">
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Descrição
                                </th>
                                <th width="40">

                                </th>
                            </tr>
                            <% for(let product of products) { %>
                                <tr id="row<%= product.id %>">
                                    <td>
                                        <%= product.id %>
                                    </td>
                                    <td>
                                        <%= product.descricao %>
                                    </td>
                                    <td>
                                        <button class="table-button button-red remove-item" data-product="<%= JSON.stringify(product) %>">✗</button>
                                    </td>
                                </tr>
                            <% } %>
                        </table>
                        <div style="width: 60%; padding-left: 30;">
                            <label for="cpf-input">CPF do cliente:</label><br>
                            <input type="text" id="cpf-input" maxlength="11"><br><br><br>
                            <a id="new-venda-link"><button class="pretty-button">Realizar venda</button></a>
                        </div>
                    </div>
            </div>

            <script>
                document.getElementById("cpf-input").addEventListener('change', (e) => updateLink());
                document.getElementById("cpf-input").addEventListener('input', (e) => updateLink());
                document.getElementById("cpf-input").addEventListener('keydown', (e) => updateLink());
                document.getElementById("cpf-input").addEventListener('paste', (e) => updateLink());

                var selectedItems = JSON.parse(localStorage.getItem('selectedProduct'));
                let buttons = document.getElementsByClassName("remove-item");

                for (let button of buttons) {
                    let product = JSON.parse(button.dataset.product);
                    let id = product.id;

                    console.log("configurou!")

                    button.addEventListener('click', (event) => {
                        if (selectedItems.some(p => p.id == id)) {
                            const index = selectedItems.findIndex(p => p.id == id);
                            selectedItems.splice(index, 1);
                            localStorage.setItem("selectedProduct", JSON.stringify(selectedItems));
                            updateLink();
                        }

                        let linhaDaTabela = document.getElementById("row" + id);
                        linhaDaTabela.style = 'visibility: collapse;';
                    });
                }

                updateLink();

                function updateLink() {
                    let a = document.getElementById("new-venda-link");
                    let link = "/products/new?cpfCliente=" + document.getElementById("cpf-input").value
                        + "&selectedProducts=" + JSON.stringify(selectedItems);
                    a.href = link;
                    console.log(a.href);
                }
            </script>
    </body>

</html>